<br><%= link_to "Movie Discover Page", user_discover_path(@facade.user_id), method: :get %> <br>

<br><%= button_to "Create Watch Party", user_new_party_path(@facade.user_id, @facade.movie_id), method: :get %>
<p>
<p><%= image_tag "https://image.tmdb.org/t/p/original#{@movie.image}", size: "300x400" %> <br>
<br>Movie: <%= @movie.title %> <br>
Length:<%= @movie.runtime %> <br>
Vote Average: <%= @movie.vote_average %> <br>
</p>
